*{
    border: dashed 1px;
}

html, body {
    height: 100%;
    border: none;
}

body{
    background: #efefef;
}

.wrapper{
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper:after{
    content: "";
    display: block;
    clear: both;
}

h2, p{
    font-family: verdana;
}

.blue{
    background: blue;
    float: left;
}

.red{
    background: red;
    float: right;
    clear: both;
}
.green{
    background: green;
    float: left;
    clear: both;
}

.box{
    width: 100px;
    height: 100px;
}


.service{
    color: #999;
    float: left;
    width: 29%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    height: 140px;
}

.services{

}

.services:after{
    content: "";
    display: block;
    clear: both;
}

.content{
    padding: 20px;
    background: #ccc;
    clear:both;
    margin: 20px 1%;
}

.columns:after{
    display: block;
    content: "";
    clear: both;
}
section, aside{
    float: left;
    width: 45%;
    margin: 1%;
    padding: 1%;
    background: #f2f2f2;
}


/*.columns{
    border: dashed 2px red;
}*/